<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% var weekday = new Array(7), month = new Array(12); %>
<% weekday[0] = "Sun", weekday[1] = "Mon", weekday[2] = "Tues", weekday[3] = "Wed", weekday[4] = "Thurs", weekday[5] = "Fri", weekday[6] = "Sat"; %>
<% month[0] = "Jan", month[1] = "Feb",month[2] = "Mar", month[3] = "Apr", month[4] = "May", month[5] = "June", month[6] = "July", month[7] = "Aug", month[8] = "Sept", month[9] = "Oct", month[10] = "Nov", month[11] = "Dec";  %>
<% var Time1 = new Date() %>

<% var Time2 = new Date(Time1) %>
<% Time2.setDate(Time2.getDate() + 1) %>

<% var Time3 = new Date(Time2) %>
<% Time3.setDate(Time3.getDate() + 1) %>

<% var Time4 = new Date(Time3) %>
<% Time4.setDate(Time4.getDate() + 1) %>

<% var Day1 = Time1.getDay(), Month1 = Time1.getMonth(), Date1 = Time1.getDate(); %>
<% var D1 = weekday[Day1] + ' ' + Date1 + ' ' + month[Month1]; %>

<% var Day2 = Time2.getDay(), Month2 = Time2.getMonth(), Date2 = Time2.getDate(); %>
<% var D2 = weekday[Day2] + ' ' + Date2 + ' ' + month[Month2]; %>

<% var Day3 = Time3.getDay(), Month3 = Time3.getMonth(), Date3 = Time3.getDate(); %>
<% var D3 = weekday[Day3] + ' ' + Date3 + ' ' + month[Month3]; %>

<% var Day4 = Time4.getDay(), Month4 = Time4.getMonth(), Date4 = Time4.getDate(); %>
<% var D4 = weekday[Day4] + ' ' + Date4 + ' ' + month[Month4]; %>

<div class="container-fluid " style="background-image: linear-gradient(to right, #459ced, #4ba3ee, #52aaef, #5ab0f0, #63b7f1, #65bef1, #6ac5f0, #71cbef, #78d2ec, #82d9e8, #8fdfe5, #9ee5e2); height:120px">
    <br>
    <center> <h5 style="color: white; text-transform: uppercase; font-weight: bold; font-size: 40px;">

        BOOKING MOVIES
    </h5>
    <p style="color: white; text-transform: uppercase; font-weight: bold;">|</p></center>
   

</div>
<h2><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> <%= Cinemas.name %> </h2>


<!-- ------- Theater 1 ------- -->
<form action="/session/<%= Cinemas.id %>/<%= Movies.id %>" method="POST">
  

    <!-- End of Banner -->
    <div class="w3-content" style="max-width:1100px;">
        <div class="w3-container ">
            <div class="w3-panel w3-padding-16 w3-white w3-card ">
                <div class="w3-half">

                <img src="<%= Movies.image %>" style="overflow: hidden; height: 300px; margin-left: 60px;"></div>
                <div class="w3-half"> <br><h3 style="font-weight: bold;"><%= Movies.name %></h3>
                    <div class="container-fluid" style="height: 10px; margin-left: 20%;"></div>
                    <h5>Genre:&emsp;<%= Movies.genre %></h5>
                    <h5>Director:&emsp;<%= Movies.director %></h5>
                    <h5>Time:&ensp;<%= Movies.runtime %> minutes</h5>
                    <h5>Rating:&ensp;<%= Movies.score %> minutes</h5>
                  
               
             
              
            </div>
          </div>
        </div>
        </div>

        <div style="height: 6px;"></div>
        <div class="container-fluid " style=" width:70%; margin-left: 100px ;">
            <h4 style="color: white;">
                &emsp;
                <select class="btn btn-outline-secondary" onchange="check(this.value)" id="selectDay" name="session[date]" id="day" required style="font-size: 20px;">
                    <option name="session[date]" value="<%= D1 %>"><%= D1 %></option>
                    <option name="session[date]" value="<%= D2 %>"><%= D2 %></option>
                    <option name="session[date]" value="<%= D3 %>"><%= D3 %></option>
                    <option name="session[date]" value="<%= D4 %>"><%= D4 %></option>
                </select>
                &emsp;
            </h4>
        </div>
        <div class="w3-content" style="max-width:1100px;">
            <div class="w3-container ">
                <div class="w3-panel w3-padding-16 w3-white w3-card ">
                    <div class="col container-fluid" style="background-color: #87CEFA;height: 120px; position: relative;">
                        <h2 class="center" style="color: black; font-weight: bold;">Theater 1</h2>
                    </div>
                    <center>
                        <div class=" pt-3 ">
                            <button id="11" type="submit" class="btn btn-info sessionTimeButton " name="session[time]"  value="11:00">11:00</button>
                            <button id="15" type="submit" class="btn btn-info sessionTimeButton" name="session[time]" value="15:00">15:00</button>
                            <button id="18" type="submit" class="btn btn-info sessionTimeButton " name="session[time]"  value="18:00">18:00</button>
                            <button id="21" type="submit" class="btn btn-info sessionTimeButton" name="session[time]"  value="21:00">21:00</button>
                        </div>  
                    </center>
                    <br><br>
              </div>
            </div>
            </div>
    <input type="hidden" name="session[theater]" value="1">
</form>


<!-- ------- Theater 2 ------- -->
<form action="/session/<%= Cinemas.id %>/<%= Movies.id %>" method="POST">
    <div class="w3-content" style="max-width:1100px;">
        <div class="w3-container ">
            <div class="w3-panel w3-padding-16 w3-white w3-card ">
                <div class="col container-fluid" style="background-color: #87CEFA; height: 120px; position: relative;">
                    <h2 class="center" style="color: black; font-weight: bold;">Theater 2</h2>
                </div>
                <center>
                    <div class=" pt-3 ">
                        <button id="13" type="submit" name="session[time]" class=" btn btn-info sessionTimeButton" value="13:00">13:00</button>
                        <button id="16" type="submit" name="session[time]" class=" btn btn-info sessionTimeButton" value="16:00">16:00</button>
                    </div>  
                </center>
          </div>
        </div>
        </div>
        <input type="hidden" value="<%= D1 %>" name="session[date]" id="selectDay2">
    <input type="hidden" name="session[theater]" value="2"> 
</form>
<!-- ------- End of Theater 2 ------- -->
<!-- ------- Theater 3 ------- -->
<form action="/session/<%= Cinemas.id %>/<%= Movies.id %>" method="POST">
    <div class="w3-content" style="max-width:1100px;">
        <div class="w3-container ">
            <div class="w3-panel w3-padding-16 w3-white w3-card ">
                <div class="col container-fluid" style="background-color: #87CEFA; height: 120px; position: relative;">
                    <h2 class="center" style="color: black; font-weight: bold;">Theater 3</h2>
                </div>
                <center>
                    <div class=" pt-3 ">
                        <button id="112" type="submit" class="btn btn-info sessionTimeButton " name="session[time]"  value="11:00">11:00</button>
                            <button id="152" type="submit" class="btn btn-info sessionTimeButton" name="session[time]" value="15:00">15:00</button>
                    </div>  
                </center>
          </div>
        </div>
        </div>
    <input type="hidden" value="<%= D1 %>" name="session[date]" id="selectDay3">
    <input type="hidden" name="session[theater]" value="3">
</form>
<!-- ------- End of Theater 3 ------- -->


<script>
    var weekday = new Array(7), month = new Array(12);
    weekday[0] = "Sun", weekday[1] = "Mon", weekday[2] = "Tues", weekday[3] = "Wed", weekday[4] = "Thurs", weekday[5] = "Fri", weekday[6] = "Sat";
    month[0] = "Jan", month[1] = "Feb",month[2] = "Mar", month[3] = "Apr", month[4] = "May", month[5] = "June", month[6] = "July", month[7] = "Aug", month[8] = "Sept", month[9] = "Oct", month[10] = "Nov", month[11] = "Dec";

    var currentTime = new Date();
    var hours = currentTime.getHours(), minutes = currentTime.getMinutes();
    var todayDay = currentTime.getDay(), todayMonth = currentTime.getMonth(), todayDate = currentTime.getDate();
    var today = weekday[todayDay] + ' ' + todayDate + ' ' + month[todayMonth];
    var selectDay = document.getElementById("selectDay").value;

    if ( today == selectDay ) {
        if ( hours == 11 && minutes > 15 || hours > 11 ){
            document.getElementById("11").disabled = true;
        }
        if ( hours == 11 && minutes > 15 || hours > 11 ){
            document.getElementById("112").disabled = true;
        }
        if ( hours >= 13 && minutes > 15 || hours > 13 ){
            document.getElementById("13").disabled = true;
        }
        if ( hours >= 15 && minutes > 15 || hours > 15 ){
            document.getElementById("15").disabled = true;
        }
        if ( hours >= 15 && minutes > 15 || hours > 15 ){
            document.getElementById("152").disabled = true;
        }
        if ( hours >= 16 && minutes > 15 || hours > 16 ){
            document.getElementById("16").disabled = true;
        }
        if ( hours >= 18 && minutes > 15 || hours > 18 ){
            document.getElementById("18").disabled = true;
        }
        if ( hours >= 21 && minutes > 15 || hours > 21 ){
            document.getElementById("21").disabled = true;
        }
    }

    function check(checkSelectDay) {
        if ( today == checkSelectDay ) {
            if ( hours >= 11 && minutes > 15 || hours > 11 ){
                document.getElementById("11").disabled = true;
            }
            if ( hours >= 11 && minutes > 15 || hours > 11 ){
                document.getElementById("12").disabled = true;
            }
            if ( hours >= 13 && minutes > 15 || hours > 13 ){
                document.getElementById("13").disabled = true;
            }
            if ( hours >= 15 && minutes > 15 || hours > 15 ){
                document.getElementById("15").disabled = true;
            }
            if ( hours >= 15 && minutes > 15 || hours > 15 ){
                document.getElementById("152").disabled = true;
            }
            if ( hours >= 16 && minutes > 15 || hours > 16 ){
                document.getElementById("16").disabled = true;
            }
            if ( hours >= 18 && minutes > 15 || hours > 18 ){
                document.getElementById("18").disabled = true;
            }
            if ( hours >= 21 && minutes > 15 || hours > 21 ){
                document.getElementById("21").disabled = true;
            }
        } else if ( today != checkSelectDay ) {
            document.getElementById("11").disabled = false;
            document.getElementById("13").disabled = false;
            document.getElementById("112").disabled = false;
            document.getElementById("152").disabled = false;
            document.getElementById("15").disabled = false;
            document.getElementById("16").disabled = false;
            document.getElementById("18").disabled = false;
            document.getElementById("21").disabled = false;
        }
        document.getElementById("selectDay2").value = checkSelectDay;
        document.getElementById("selectDay3").value = checkSelectDay;
    }
</script>

<%- include('../partials/footer.ejs') %>