<%- include('../partials/header.ejs') %>
<style>
    body{
        background-color: whitesmoke;
    }
</style>
<div class="container-fluid text-dark px-3 pt-4" style=" margin-top: 2%;height: 200px;background-image: linear-gradient(to right, #459ced, #4ba3ee, #52aaef, #5ab0f0, #63b7f1, #65bef1, #6ac5f0, #71cbef, #78d2ec, #82d9e8, #8fdfe5, #9ee5e2);">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <center>
    <h5 id="movie"style="color: rgb(255, 255, 255); text-transform: uppercase; font-size:50px; font-family: 'Staatliches', cursive;">
    Add user to be admin
    </h5>
    
    <h1 style="color: white;">|</h1>
    <p style="font-family: 'Staatliches', cursive; color: white;">make sure that true person!</p>
    <br>

  </center>
</div>

<div class="row">
    <% var i = 0; %>
    <%  User.forEach(function(user){ %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="margin: 50px; box-shadow: 0px 10px 10px gray;">
        <div class="card-body">
            <center>
          <img class="col-6" src="<%= user.picture %>" style="width: 50%; height: 300px; margin-top: 20px;">
          <h5 class="card-title" style=" margin-top: 20px;"><%= user.username %></h5>
          <p class="card-text">Name : <%= user.firstname %>    <%= user.lastname %></p>
          <p class="card-text">priority : <%= user.priority %></p>
         
            <form action="/user/admin/grant/<%= user._id %>" method="POST">
                <button type="submit" class="btn btn-outline-primary" style="width: 80%">Grant Admin</button>
            </form>
            &nbsp;
            <form action="/user/admin/delete/<%= user._id %>" method="POST">
                <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" style="width: 80%">Delete</button>   </center>
                                      <div class="modal fade" id="deleteModal<%= i %>" tabindex="-1">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title ed-mol" >Delete Movies</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                  </div>
                                                  <div class="modal-body" style="color: black;">
                                                      Do you want to delete <%= user.username %> ?
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-danger">Delete</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
            </form>
           

       
     
        </div>
      </div>
    </div>
  </div>
  <%i++  }); %>
  <center>
      <br><br>
      <h3 style="color: dimgrey;">User to be an admin!</h3>
  </center>



 
 <% if ( currentUser.priority == 'master' ) { %>
    <div class="container-fluid text-dark px-3 pt-4" style=" margin-top: 2%;height: 200px;background-image: linear-gradient(to right, #459ced, #4ba3ee, #52aaef, #5ab0f0, #63b7f1, #65bef1, #6ac5f0, #71cbef, #78d2ec, #82d9e8, #8fdfe5, #9ee5e2);">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <center>
        <h5 id="movie"style="color: rgb(255, 255, 255); text-transform: uppercase; font-size:50px; font-family: 'Staatliches', cursive;">
        Showing Addmin
        </h5>
        
        <h1 style="color: white;">|</h1>
        <p style="font-family: 'Staatliches', cursive; color: white;">They are admin!</p>
        <br>
    
      </center>
    </div>
  
    <% var i =1 ; Admin.forEach(function(user){ %>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="margin: 50px; box-shadow: 0px 10px 10px gray;">
              <div class="card-body">
                  <center>
                <img class="col-6" src="<%= user.picture %>" style="width: 50%; height: 300px; margin-top: 20px;">
                <h5 class="card-title" style=" margin-top: 20px;"><%= user.username %></h5>
                <p class="card-text">Name : <%= user.firstname %>    <%= user.lastname %></p>
                <p class="card-text">priority : <%= user.priority %></p>
               
                <form action="/user/admin/forfeit/<%= user._id %>" method="POST">
                    <button type="submit" class="btn btn-outline-primary" style="width: 80%">Forfeit Admin</button>
                </form>
                &nbsp;
                <form action="/user/admin/delete/<%= user._id %>" method="POST">
                    <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" style="width: 80%">Delete</button> </center>
                                      <div class="modal fade" id="deleteModal<%= i %>" tabindex="-1">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title ed-mol" >Delete Movies</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                  </div>
                                                  <div class="modal-body" style="color: black; float: left;">
                                                     <p>Do you want to delete <%= user.username %> ?</p> 
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-danger">Delete</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                </form>
             
              </div>
            </div>
          </div>
        </div>


       
    
    <% i++}); %>
<% } %> 


<%- include('../partials/footer.ejs') %> 