<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body{
    background-color: whitesmoke;
  }
</style>

<div class="container-fluid" style="background-color: #000000; width:100%;">

    
    <div class="row">
        <div class="col-12">
            <img src="<%= Cinemas.image %>" style="width:100%; height:700px;">
        </div>
        <div class="col-12 pt-5 text-center">
            <ul style="list-style-type: none; color: white;">
                <div class="container-fluid" style="height: 220px;">
                    <li class="mt-3 mb-5"><img src="<%= Cinemas.logo %>" width="400px" height="250px" style="object-fit: contain;"></li>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#detailmodal">
                      SEE MORE DETAIL
                    </button>
                    <a href="<%= Cinemas.mapadd %>"  target="_blank" class="btn btn-light">Open Map</a>
                </div>
                <div class="container-fluid" style="height: 150px;">
                  <li><h5><%= Cinemas.slogan %></h5></li>
              </div>
            </ul>
        </div>
    </div>

</div>


<div class="container-fluid text-dark px-3 pt-4" style=" margin-top: 0%;height: 200px;background-image: linear-gradient(to right, #459ced, #4ba3ee, #52aaef, #5ab0f0, #63b7f1, #65bef1, #6ac5f0, #71cbef, #78d2ec, #82d9e8, #8fdfe5, #9ee5e2);">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <center>
  <h5 id="movie"style="color: rgb(255, 255, 255); text-transform: uppercase; font-size:50px; font-family: 'Staatliches', cursive;">
  Now Showing
  </h5>
  
  <h1 style="color: white;">|</h1>
  <br>
</center>
</div>

<div class="container" style="padding:40px; margin-top:10px; background-color: white; margin-top: -50px; width: 100%;">
  <div class="row">
      <% Movies.forEach(function(movie){ %>
      <div class="col-sm-12 col-md-4 col-lg-4" style="margin-top: 20px;">
 
          <div class="card" style="width:100%; box-shadow: 0px 10px 10px #888888; height: 670px;">
              <img class="card-img-top" src="<%= movie.image %>"style="width:100%; height:500px;">
              <div class="card-body">
                <center><h4 class="card-title"><%= movie.name %></h4><br>
                <a href="/session/<%= Cinemas._id %>/<%= movie._id %>"   class="btn btn-outline-primary">Buy Ticket</a></center><br>
              </div>
            </div>
       
      </div>
      <%  }); %>
   
</div>
</div>
 

  

<%- include('../partials/footer.ejs') %>



<!-- Modal -->
<div class="modal fade" id="detailmodal" tabindex="-1" aria-labelledby="detailmodal" aria-hidden="true">
  <div class="modal-dialog modal-xl bg-dark">
    <div class="modal-content">
      <div class="modal-header text-light " style="background-image: linear-gradient(to right, #459ced, #4ba3ee, #52aaef, #5ab0f0, #63b7f1, #65bef1, #6ac5f0, #71cbef, #78d2ec, #82d9e8, #8fdfe5, #9ee5e2);">
        <h5 class="modal-title" id="detailmodal">DETAILS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light text-dark"  style="width: 100%; margin: 0px;">
        
        <img src="<%= Cinemas.image %>" style="width:100%; height:400px; margin: 0px;"><br><br>
        <h1 style="font-weight: bold; color: brown;"> <%= Cinemas.name %></h1>
        <img src="<%= Cinemas.logo %>" style="width:30%; height:200px; margin-left: 68%; margin-top: -15%;"><br><br>
        <h3 style="font-weight: 500;">About us</h3>
        <h5 class="text"><%= Cinemas.slogan %></h5>
        <h3 style="font-weight: 500;">Address</h3>
        <center>  
          <iframe src="<%= Cinemas.mapadd %>" style="border:0; width: 100%; height:500px;" allowfullscreen="" loading="lazy"></iframe>
        </center>
        

      </div>
      <div class="modal-footer bg-light text-dark">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
